@using AnimeCrunch.Models.DataModels
@model AnimeCrunch.Models.DataModels.TvShow

<head>
    <link href="~/Content/CSS/Body.css" rel="stylesheet" type="text/css" />
</head>

<div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-4">
    <div class="card">
        <a href="/Library/TvShow?TvShowId=@Model.TvShowId">
            <img class="card-img-top-tvshow mx-auto" style="width:100%;height:375px" src="@Model.Image" alt="@Model.Title">
            <div class="card-body text-center">
                <h5 class="card-title">@Model.Title</h5>

                @if (Model.Seasons.Count() > 1)
                {
                    <p class="card-footer text-center">@Model.Seasons.Count() @AnimeCrunch.Resources.Views.StringsViews.Seasons</p>
                }
                else
                {
                    <p class="card-footer text-center">@Model.Seasons.Count() @AnimeCrunch.Resources.Views.StringsViews.Season</p>
                }
            </div>
        </a>
    </div>
</div>

